.loguito{
	width: 150px;
	height: 30px;
}
body{
	background-color: #34495e;
}

.navbar-header {
   background-color: #34495e;
   opacity: 0.75;
	
}


a.linkeado{
	color: #white;
}
body {
    padding-top: 0px;
    padding-bottom: 0px;
}
.navbar-fixed-top .navbar-nav > li > a {
color: #ecf0f1;
}
.navbar-fixed-top .navbar-nav > li > a:hover {
color: #1abc9c;
}
.navbar-fixed-top .navbar-nav > li > a:focus {
color: #ecf0f1;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















