#principalP
{
	margin-top: 100px;
	
}footer {
	margin-bottom: 0;
	padding-bottom: 0;
	display: block;
	font-size: 15px;
	
}
.afoot{
	color: #95a5a6;
	text-decoration: none;
}
.afoot:hover{
	color: white;
	text-decoration: underline;
}
section{
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #fff;
  background-color: #16a085;
}

.nav-pills > li > a {
  color: #16a085;
  background-color: #fff;
}
/*Boton hola*/
.btn-hola{
	transition: background-color 0.5s ease;
	background-color: #16a085;
	color: white;
}
.btn-hola:hover{
	background-color: #3498db;
	color: white;
}
.btn-hola:focus{
	color: white;
}
